<div class="card">
  <div class="card-header bg-purple text-white">
    <h3 class="header"><%= fa_icon 'edit' %> Editing Lp</h3>
  </div>
  <div class="card-body">
    <%= render 'form', lp: @lp %>
  </div>
</div>