<div class="card">
  <div class="card-header bg-purple text-white">
    <%= fa_icon 'plus' %> Add a new LP
  </div>
  <div class="card-body">
    <%= render 'form', artist: @artist, lp: @lp %>
  </div>
</div>