<br>
<div class="card">
  <div class="card-header bg-purple text-white">
    <span><h3 class="header"><%= fa_icon 'music' %>&nbsp<%= @lp.name %> - <%= @lp.artist.name %></h3></span>
  </div>
  <div class="card-body">
	  <%= @lp.description %>
  </div>
</div>