<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="header align-middle">All artists</h1>
  </div>
</div>

<%= render 'artists/artist_list', artists: @artists %>






