<br>
<div class="card">
  <div class="card-header bg-purple text-white">
    <span><h3 class="header"><%= fa_icon 'music' %> All artists</h3></span>
  </div>
  <div class="card-body">
		<%= render 'artists/artist_list', artists: @artists %> 
  </div>
</div>