<footer class="font-small bg-purple text-white text-center custom-footer">	
	<div class="row">
		<div class="col-md-4">

		</div>

		<div class="col-md-4">
			<br>
			&copy<a href="https://www.linkedin.com/in/josemariasierracano/" class="text-white">Jose Maria Sierra Cano</a>
			<br>
			<%= image_tag("jmsc.png", height: "100px") %>
		</div>

		<div class="col-md-4">

		</div>
	</div>
</footer>

 